{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<h1>Produits</h1>
		<div class="row">
			{% for produit in produits %}
				<div class="col-md-4 mt-4">
					<div class="card">
						<img src={{ asset('images/'~produit.image)}} class="card-img-top" alt="...">
						<div class="card-body">
							<a href="{{ path('app_home_produit_show',{'id':produit.id})}}">
								<h5 class="card-title">{{ produit.nom }}</h5>
							</a>
							<p class="card-text">{{ produit.description }}</p>
							<p class="card-text">{{ produit.prix }}
								€</p>
							<a href="{{ path('app_panier_new',{'id':produit.id}) }}" class="btn btn-outline-success">Ajouter au panier</a>
						</div>
					</div>
				</div>


			{% endfor %}
		</div>

	</div>
{% endblock %}
