{% extends 'base.html.twig' %}

{% block title %}{% include 'header.html.twig' %}Register{% endblock %}

{% block body %}
<div class="container-fluid container-form p-5 h-100">
    <div class=" col-md-4 mx-auto">
       <div class="d-flex column mx-auto">
        <h1 class=" mb-3 font-weight-normal text-center">Register</h1>
        </div>
        {{ form_errors(registrationForm) }}
        
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        
        <button type="submit" class=" btn btn-lg btn-primary w-100">Register</button>
    
    {{ form_end(registrationForm) }}
    </div>
</div>
{% block footer %}
{% include "footer.html.twig" %}
{% endblock %}
{% endblock %}

